@font-face {
  font-family: "icons";
  src: font-url("icons.eot");
  src: font-url("icons.eot?#iefix") format("embedded-opentype"),
       font-url("icons.woff") format("woff"),
       font-url("icons.ttf") format("truetype"),
       font-url("icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: font-url("icons.svg#icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

@mixin fontcustom {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

%fontcustom,
[data-icon]:before,
.icon-envelope:before,
.icon-facebook:before,
.icon-left:before,
.icon-right:before,
.icon-zoom:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-envelope:before { content: "\f101"; }
.icon-facebook:before { content: "\f102"; }
.icon-left:before { content: "\f103"; }
.icon-right:before { content: "\f104"; }
.icon-zoom:before { content: "\f100"; }


$font-icons-envelope: "\f101";
$font-icons-facebook: "\f102";
$font-icons-left: "\f103";
$font-icons-right: "\f104";
$font-icons-zoom: "\f100";
